@import "materialize";

div#num-vars {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.tt-wrapper {
  max-height: calc(100vh - #{$navbar-height} - 20px) !important;
  display: flex;
  flex-direction: column;
}

table {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  width: 100%;
}

thead {
  flex: 0 0 auto;
  width: 100%;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll !important;
}

table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

h4.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

canvas#canvas {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  right: 30px;
}

.collection.expansion {
  width: 400px;
  max-height: 200px;
  margin: 0 auto;
  overflow-y: scroll !important;

  li.collection-item {
    text-align: left;

    &:hover:not(.active) {
      background-color: lighten($secondary-color, 15%);
      cursor: pointer;
    }
  }
}

table {
  width: 100%;
}

.container {
  height: 100%;
}

.switch {
  margin-top: 50px;
  margin-bottom: 30px;
  color: $accent-color !important;
}

.noUi-connect {
  background-color: $secondary-color !important;
}
