@import "materialize";

div#num-vars {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.tt-wrapper {
  max-height: calc(100vh - #{$navbar-height} - 20px) !important;
  display: flex;
  flex-direction: column;
}

table {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  width: 100%;
}

thead {
  flex: 0 0 auto;
  width: 100%;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll !important;
}

table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

h4.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.canvas-wrapper {

}

canvas#canvas {
  margin-top: 150px;
  margin-left: 150px;
}

table {
  width: 100%;
}

.container {
  height: 100%;
}

.switch {
  margin-top: 50px;
  margin-bottom: 30px;
  color: $accent-color !important;
}

#expansion {
  width: 100%;
  text-align: center;
}

.noUi-connect {
  background-color: $secondary-color !important;
}
