@import "materialize";

div#num-vars {

  margin-bottom: 40px;
}

.tt-wrapper {
  margin-top: 20px;
  height: 100%;
}

h4.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.canvas-wrapper {

}

canvas#canvas {
  margin-top: 150px;
  margin-left: 150px;
}

table {
  width: 100%;
  height: 100%;
  overflow: scroll !important;
}

.container {
  height: 100%;
}

.switch {
  margin-top: 50px;
  margin-bottom: 30px;
  color: $accent-color !important;
}

#expansion {
  width: 100%;
  text-align: center;
}

.noUi-connect {
  background-color: $secondary-color !important;
}
