@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #94BFA7;
  color: #2F2F2F;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.title-wrapper {
  text-align: center;
  width: 100%;
}
.var-wrapper {
  display: flex;
  width: 400px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}

.var-input {
  width: calc((400px / 8) - 10px);
  text-align: center;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
